.Sidebar {
    height: 100%;
    width: 100%;
    background-color: $dartshub-purple;
    color: $dartshub-white;
}

.SidebarList {
    ul{
        height: 100%;
        width: 100%;
        padding: 0;
    }
    li{
        width: 100%;
        height: 50px;
        border: 1px solid $dartshub-dark-purple;
        margin-bottom: 1px;
        border-radius: 25px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    #icon{
        flex: 30%;
        display: grid;
        place-items: center;
    }
    #title{
        flex: 70%;
    }
    li:hover{
        cursor: pointer;
        background-color: rgb(34, 37, 46);
    }
    
}

