.User-page{
    display: grid;
    grid-template-columns: 20vw 120vw;
    grid-template-rows: 50vh 50vh;
}
#Sidenav-layout{
background-color:rgb(51,56,69);
grid-column: 1;
grid-row-start: 1;
grid-row-end: span 2;

}

#UserInformation-layout{
background-color: rgb(162,164,172);
width: 60%;
grid-column: 2;
grid-row: 1/2; 
margin-left: 1rem;
border-radius: 12px;
margin-top: 1rem;
}
#StatInformation-layout{
background-color: rgb(162,164,172);
width: 60%;
grid-column: 2;
grid-row: 2;
margin-left: 1rem;
margin-top: 1rem;
border-radius: 12px;
}