#Create-Game {
    margin-top: 2rem;
    background-color: rgb(162,164,172);
    width: 50rem;
    text-align: center;
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    h4 {
        font-size: 1.3rem;
        font-weight: lighter;
        margin-top: 0.5rem;
        text-align: center;
    }
}

#Create-Room{
    margin-top: 2.5rem;
   
}
#submit-btn{
   margin-left: 5rem;
   margin-top: 0.5rem;
}
#Settings{
    margin-top: 0.4rem;
}
