#Join-game {
    background-color: rgb(174,128,107);
    width: 50rem;
    text-align: center;
    h1 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.3rem;
        font-weight: lighter;
        margin-top: 0.5rem;
    }
}

#Join-Room{
    margin-top: 2.5rem;
   
}
#submit-btn{
   margin-left: 5rem;
   margin-top: 0.5rem;
}
