#Join-game {
    background-color: $dartshub-purple;
    color: $dartshub-white;
    padding: 25px 0;
    width: 50rem;
    text-align: center;
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    h4 {
        font-size: 1.3rem;
        font-weight: lighter;
        margin-top: 0.5rem;
        text-align: center;
    }
}

#Join-Room{
    margin-top: 2.5rem;
   margin-bottom: 25px;
}
.submit-button{
    background-color: $dartshub-white;
    padding: 5px 25px;
    color: $dartshub-text-color;
}
