.user-stats {
    overflow-x: hidden;
    text-align: center;
}

.stats-card {
    background-color: $dartshub-grey;
    width: 250px;
    height: 250px;
    margin: 10px 0;
    .stats-number {
        font-size: 2rem;
        font-weight: bolder;
    }
    .stats-title { 
        font-size: 1.5rem;
        font-weight: bold;
    }
}