.Game-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
}
#Enter-Score{
    grid-column: 3;
    grid-row: 2;
}
#CurrentScore-layout{
    grid-column:2 ;
    grid-row:1;
}
#OpponentScore-layout{
    grid-column: 4;
    grid-row:1;
}

#Legdisplay-layout{
    grid-column: 3;
    grid-row:1;
    margin-top: 2rem;
    margin-left: 4rem;
}
#score{
    width: 15rem;
}

#ScoreRundown-layout{
    grid-column: 3;
    grid-row: 2;
    margin-top: 4rem;
}

.display-winner {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}