#gamescreen {
    overflow-x: hidden;
}

#Legdisplay-layout{
    margin-top: 2rem;
}
#score{
    width: 50%;
    background-color: $dartshub-grey;
    border-radius: 25px;
    border: 3px solid $dartshub-dark-purple;
}

#submit-score {
    background-color: $dartshub-purple;
    color: white;
    border: 0;
    border-radius: 25px;
    width: 50%;
    padding: 5px 25px;
}

#Enter-Score {
    padding: 0 5px;
}
.display-winner {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#chatbox {
    textarea {
        border: 1px solid $dartshub-dark-purple;
        background-color: $dartshub-grey;
        color: $dartshub-text-color;
        font-size: 1.2rem;
    }
}