#greeting {
  padding-top: 25px;
  background-color: $dartshub-purple;
  text-align: left;
  color: $dartshub-white;
  overflow: hidden;

  .content {
    padding-bottom: 25px;
  }
}

.greeting-wave {
  height: 100px;
  width: 100%;

  @media (max-width: 768px) {
    width: 250%;
  }
}

.greeting-board {
  width: 100%;
}