.confirm{
    background-color: rgb(174,128,107);
    width: 15rem;
    text-align: center;
    margin-left: 45%;
}
#logout{
    float: right;
    background-color: rgb(169,167,164);
    color: rgb(51,56,69);
}
#logout:hover{
    background-color: rgb(155,98,119);
    color: rgb(51,56,69);
}
#GameNav{
    width: 100%;
}
