.UserInfo-layout {
    
    h1{
        font-size: 2rem;
        text-align: center;
    }
    h4{
        font-size: 1.2rem;
        text-align: center;
    }
}

#user-info{
    table{
        background-color: rgb(51,56,69);
        margin-left: 5rem;
        margin-top: 2rem;
        color: rgb(250,251,251);
        border-radius: 12px;
    }
    td{
        padding: 1.5rem;
    }
}
#Uname{
    font-weight: bolder;
    font-size: 1.5rem;
}
#Email{
    font-weight: bolder;
    font-size: 1.5rem;
}