#rounddisplay {
    background-color: #383838;
    text-align: center;
    border-radius: 10px;
    width: 70px;
    
    & p {
      color: #ddd;
      font-family: rubik;
      font-size: 1.5rem;  
      }
    }
 
  
  #roundnum {
    border-radius: 5px;
    margin-top: 70px;
  }

  