#home-nav {
    color: $dartshub-text-color;
}

.submit-button {
    border-radius: 25px;
    background-color: $dartshub-purple;
    color: $dartshub-white;
    border: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.navbar {
    background-color: $dartshub-purple;
}
.modal-body{
    background-color: $dartshub-grey;
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    h2{
        text-align: center;
    }
}
.subtitle{
    text-align: center;
}
.nav-button{
    width: 7rem;
    border-radius: 25px;
    background-color: $dartshub-white;
    color: $dartshub-text-color;
    border: 0;
    float: right;
    margin: 0px 5px;
}

.nav-button:hover{
    background-color: $dartshub-grey;
}

.homenav-link {
    background-color: $dartshub-white;
    width: 7rem;
    border-radius: 25px;
    padding: 2px 25px;
    color: $dartshub-text-color;
}

.homenav-link:hover {
    text-decoration: none;
    color: $dartshub-text-color;
    background-color: $dartshub-grey;
}

.close-button {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 0;
}